@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .bg-#{$color}-#{$shade} {
      background-color: var(--#{$color}-#{$shade}) !important;
    }
  }
}

@each $color, $shades in $semantic-colors {
  @each $shade, $value in $shades {
    .bg-#{$color}-#{$shade} {
      background-color: var(--#{$color}-#{$shade}) !important;
    }
  }
}

@each $property, $value in $extra-colors {
  .bg-#{$property} {
    background-color: var(--#{$property}) !important;
  }
}

@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .bg-hover-#{$color}-#{$shade} {
      @include transition(all 0.3s);

      &:hover {
        background-color: var(--#{$color}-#{$shade}) !important;
      }
    }
  }
}

@each $color, $shades in $semantic-colors {
  @each $shade, $value in $shades {
    .bg-hover-#{$color}-#{$shade} {
      @include transition(all 0.3s);

      &:hover {
        background-color: var(--#{$color}-#{$shade}) !important;
      }
    }
  }
}

@each $property, $value in $extra-colors {
  .bg-hover-#{$property} {
    @include transition(all 0.3s);

    &:hover {
      background-color: var(--#{$property}) !important;
    }
  }
}

.bg-base {
  background-color: var(--white) !important;
}


.gradient-bg-end {
  &-1 {
    background: linear-gradient(119deg, #FFF 32.06%, #FFF4E8 97.01%);
  }

  &-2 {
    background: linear-gradient(117deg, #FFF 36.28%, #E0E7FF 97%);
  }

  &-3 {
    background: linear-gradient(116deg, #FFF 38.14%, #F7E2FF 98.5%);
  }

  &-4 {
    background: linear-gradient(115deg, #FFF 38.69%, #D9FFFB 100%);
  }

  &-5 {
    background: linear-gradient(115deg, #FFF 38.69%, #DBFFE1 100%);
  }

  &-6 {
    background: linear-gradient(115deg, #FFF 38.69%, #DBF4FF 100%);
  }

  &-7 {
    background: linear-gradient(270deg, rgba(0, 195, 29, 0.1) 0%, rgba(0, 195, 29, 0.01) 50.07%);
  }

  &-8 {
    background: linear-gradient(270deg, rgba(213, 49, 40, 0.1) 0%, rgba(213, 49, 40, 0.01) 51.17%);
  }

  &-9 {
    background: linear-gradient(270deg, rgba(168, 11, 228, 0.1) 0%, rgba(168, 11, 228, 0.01) 48.59%);
  }

  &-10 {
    background: linear-gradient(270deg, rgba(4, 180, 255, 0.1) 0%, rgba(4, 180, 255, 0.01) 53.9%);
  }

  &-11 {
    background: linear-gradient(270deg, rgba(255, 122, 44, 0.1) 0%, rgba(255, 122, 44, 0.01) 56.64%);
  }
}

[data-theme=dark] {
  .gradient-bg-end-1, .gradient-bg-end-2, .gradient-bg-end-3, .gradient-bg-end-4, .gradient-bg-end-5, .gradient-bg-end-6 {
    background: var(--neutral-100);
  }
}

[data-theme=dark] {
  .lms-card-gradient-bg {
    opacity: .2;
  }
}