/* Translate Css start */
.translate-x-full {
    transform: translateX(100%);
}

.active-translate-0 {
    &.active {
        transform: translateX(0);
    }
}
.overlay {
     cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==), progress;
    &.active {
        visibility: visible !important;
        opacity: 1 !important;
    }
}

.invert {
    filter: invert(1) brightness(1);
}

.duration-300 {
    transition: .3s linear;
}

.z {
    &-9 {
        z-index: 9;
    }
    &-99 {
        z-index: 99;
    }
}

td {
    vertical-align: middle;
}

/* Translate Css end */