// width 
@each $property, $value in $spaces {
  .w-#{$property}-px {
    width: $value !important;
  }
}

.py-res-120 {
  padding: clamp(3.75rem, -0.8142rem + 9.5087vw, 7.5rem) 0;
}

.w-100-px {
  width: 100px;
}

.h-100-px {
  height: 100px;
}


.w-120-px {
  width: 120px;
}

.h-120-px {
  height: 120px;
}

.h {
  &-100vh {
    height: 100vh;
  }
}

.min-w-max-content {
  min-width: max-content;
}

.w-190-px {
  width: 190px;
}

.w-1-px {
  width: 1px;
}

.max-w-700-px {
  max-width: 700px;
}

.max-w-340-px {
  max-width: 340px;
}
.max-w-300-px {
  max-width: 300px;
}

.max-w-740-px {
  max-width: 740px;

  @media (max-width: 1399px) {
    max-width: 500px;
  }

  @media (max-width: 991px) {
    max-width: 350px;
  }

  @media (max-width: 767px) {
    max-width: 250px;
  }
}

.textarea-max-height {
  height: 44px;
}

.resize-none {
  resize: none;
}

.min-w-450-px {
  min-width: 450px;
}

.min-w-132-px {
  min-width: 132px;
}

@each $property, $value in $spaces {
  .h-#{$property}-px {
    height: $value !important;
  }
}

.h-170-px {
    height: 10.625rem !important;
}

.w-170-px {
    width: 10.625rem !important;
}

.h-144-px {
    height: 9rem !important;
}

.w-144-px {
    width: 9rem !important;
}

.h-110-px {
    height: 6.875rem !important;
}

.w-110-px {
    width: 6.875rem !important;
}

.max-h-412-px {
  max-height: 412px;
}

.max-h-460-px {
  max-height: 460px;
}
.max-w-288-px {
    max-width: 288px;
}
.max-w-540-px {
    max-width: 540px;
}

/* Min max width & height Start */
.text-w-200-px {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-w-100-px {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-auto {
  top: auto;
}



// @media (min-width: 1700px) {
//   .row-cols-xxxl-5>* {
//     flex: 0 0 auto;
//     width: 20%;
//   }
// }

// @media (min-width: 1600px) {
//   .col-xxxl-8 {
//     flex: 0 0 auto;
//     width: 66.66666667%;
//   }

//   .col-xxxl-4 {
//     flex: 0 0 auto;
//     width: 33.33333333%;
//   }

//   .col-xxxl-9 {
//     flex: 0 0 auto;
//     width: 75%;
//   }

//   .col-xxxl-3 {
//     flex: 0 0 auto;
//     width: 25%;
//   }
// }

@media (min-width: 425px) and (max-width: 575px) {
  .col-xs-6 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .lg-w-50 {
    width: 50%;
  }
}

.text-xxs {
  font-size: 10px !important;
}

.transform-unset {
  transform: unset !important;
}

.rotate-45-deg {
    transform: rotate(45deg);
}


.mt-200-px {
  margin-top: clamp(2.5rem, -6.7308rem + 19.2308vw, 12.5rem);;
}