<div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
  <div class="">
    <h1 class="fw-semibold mb-4 h6 text-primary-light">@@mainPageTitle</h1>
    <div class="">
      <a href="index.html" class="text-secondary-light hover-text-primary hover-underline">Dashboard </a>
      <a href="@@middleLink" class="text-secondary-light hover-text-primary hover-underline @@showMiddleText"> /
        @@middleText</a>
      <span class="text-secondary-light">/ @@currentPage</span>
    </div>
  </div>
  <a href="@@btnLink" class="btn btn-primary-600 d-flex align-items-center gap-6 @@btnClasses">
    <span class="d-flex text-md">
      <i class="@@btnIconClass"></i>
    </span>
    Add Student
  </a>
</div>