<div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
  <div class="">
    <h6 class="fw-semibold mb-0">@@mainPageTitle</h6>
    <div class="">
      <a href="index.html" class="text-secondary-light hover-text-primary hover-underline">Dashboard </a>
      <a href="@@middleLink" class="text-secondary-light hover-text-primary hover-underline @@showMiddleText"> / @@middleText</a>
      <span class="text-secondary-light">/ @@currentPage</span>
    </div>
  </div>
</div>