/* custom accordion css start */
.custom-accordion-btn {
    &.active {
        color: var(--text-primary-light) !important;
        font-weight: 700 !important;
        .arrow-icon {
            transform: rotate(180deg);
        }
    }
}
.custom-accordion-content {
    display: none;
}
/* custom accordion css end */