.scroll-sm {
    &::-webkit-scrollbar {
      width: 6px !important;
      height: 6px !important;
      border-radius: 40px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #b1b3b8;
      border-radius: 40px;
      &:hover {
        background-color: #939393;
      }
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 40px;
    }
}


