/* Table Common Css Start */
.table>tbody tr > td:first-child, .table>thead tr > th:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

tbody tr:last-child td {
    border-bottom: 0;
}

table td {
    color: var(--text-secondary-light) !important;
}

table th {
    font-size: 14px;
    font-weight: 500;
}